<!-- Header Fragment -->
<div class="navbar">
    <div class="nav-container">
        <a class="nav-logo" href="/" style="font-weight: bold; font-size: 1.6rem;text-decoration: none;">
            ❄️ Snowball
        </a>
        <ul class="nav-links">
            <li><a th:href="@{/}">Dashboard</a></li>
            <li><a th:href="@{/strategies}">Manage Strategies</a></li>
            <li><a th:href="@{/test-strategy}">Backtest Strategies</a></li>
            <li><a th:href="@{/watchlist}">Watchlist</a></li>
        </ul>
    </div>
</div>

